.DS_Store

*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.tuc
*.xdv

*.timestamp-*.mjs

*.otf
*.ttf
*.woff2
*.pdf

.vscode/
.temp/
cache/
dist/
node_modules/

packages/vitepress-theme/src/styles/katex.css
