.DS_Store

*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.tuc
*.xdv

*.otf
*.ttf
*.woff2
*.pdf

.vscode/
.temp/
cache/
dist/
node_modules/

.vitepress/config.ts.timestamp-*.mjs

packages/vitepress-theme/src/styles/katex.css
