<header class="site-header">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    {%- if titles_size > 0 -%}
      <nav class="site-nav">
       <ul>
        {%- if page.lang == "en-US" -%}
          <li><a class="page-link" href="/archive/">Archive</a></li>
          <li><a class="page-link" href="/about/">About</a></li>
        {%- else -%}
          <li><a class="page-link" href="/archive/">归档</a></li>
          <li><a class="page-link" href="/about/">关于</a></li>
        {%- endif -%}
       </ul>
      </nav>
    {%- endif -%}
  </div>
</header>