{%- assign social = site.minima.social_links -%}

<ul class="social-media-list">
  {%- if social.github -%}
    <li><a href="https://github.com/{{ social.github | cgi_escape | escape }}" title="{{ social.github | escape }}"><i class="fab fa-github"></i></a></li>
  {%- endif -%}
  {%- if social.stackoverflow -%}
    <li><a href="https://stackoverflow.com/users/{{ social.stackoverflow | escape }}"><i class="fab fa-stack-exchange"></i></a></li>
  {%- endif -%}
  {%- if social.twitter -%}
    <li><a href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}" title="{{ social.twitter | escape }}"><i class="fab fa-twitter"></i></a></li>
  {%- endif -%}
  {%- if social.telegram -%}
    <li><a href="https://t.me/{{ social.telegram | cgi_escape | escape }}" title="{{ social.telegram | escape }}"><i class="fab fa-telegram-plane"></i></a></li>
  {%- endif -%}
  {%- if social.email -%}
    <li><a href="mailto:{{ social.email }}" title="{{ social.email | escape }}"><i class="fab fas fa-envelope"></i></a></li>
  {%- endif -%}
  {%- if social.rss -%}
    <li><a href="{{ 'feed.xml' | relative_url }}" title="{{ social.rss | escape }}"><i class="fas fa-rss"></i></a></li>
  {%- endif -%}
</ul>
