@mixin media-dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@import 'variables/colors',
        'variables/typography';

$border: 1px solid var(--border-color) !default;

// Width of the content area
$spacing-unit:      30px  !default;
$content-width:     720px !default;
$sidebar-width:     .25 * $content-width !default;

$on-palm:           600px !default; // TODO: to be removed
$on-laptop:         800px !default; // TODO: to be removed

$on-medium:         $on-palm !default;
$on-large:          $on-laptop !default;

@mixin sticky-top ($top) {
  position: -webkit-sticky;
  position:         sticky;
  top: $top;
}

// @mixin blur {
//   -webkit-backdrop-filter: saturate(180%) blur(20px);
//   backdrop-filter:         saturate(180%) blur(20px);
//   background-color: var(--blur-color);
// }

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin media-on-large {
  @media screen and (min-width: $on-large) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Partials
@import 'minima/base',
        'minima/home',
        'minima/post',
        'minima/specials',
        'minima/syntax-highlighting',
        'minima/gitalk';
