@charset "utf-8";

// Define defaults for each variable.

@import url("https://rsms.me/inter/inter-ui.css");

$font-family-dflt: "Inter UI" !default;
$font-family-sc: "Sarasa UI SC", "PingFang SC", "Noto Sans CJK SC", "Source Han Sans SC", "Microsoft YaHei UI", "Microsoft YaHei" !default;
$font-family-ja: "Sarasa UI J", "Hiragino Kaku Gothic ProN", "Noto Sans CJK JP", "Source Han Sans", "Meiryo UI", "Meiryo" !default;
$base-font-family: $font-family-dflt, $font-family-sc, sans-serif, !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #424242 !default;
$background-color: #fdfdfd !default;
$brand-color:      #065279 !default;
$link-color:       #991722 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$orange-color:     #f66a0a !default;
$table-text-align: left !default;

// Width of the content area
$content-width:    960px !default;

$on-palm:          600px !default;
$on-laptop:        960px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
