@charset "utf-8";

@import url("https://rsms.me/inter/inter.css");
@import url("https://typeof.net/Iosevka/iosevka/webfont.css");

// Fonts
$base-font-family:
  "Inter",
  "Sarasa UI SC",
  "PingFang SC", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei UI", "Microsoft YaHei",
  sans-serif !default;
$base-ja-font-family:
  "Inter",
  "Sarasa UI J",
  "Hiragino Kaku Gothic ProN", "Noto Sans CJK JP", "Source Han Sans", "Source Han Sans JP", "Meiryo UI", "Meiryo",
  sans-serif !default;
$mono-font-family:
  "Sarasa Mono SC",
  "Iosevka", "Iosevka Web",
  "PingFang SC", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei UI", "Microsoft YaHei",
  monospace !default;

// Font related
$base-font-weight:  400 !default;
$base-font-size:    16px !default;
$small-font-size:   $base-font-size * 0.875 !default;
$base-line-height:  1.6 !default;
$spacing-unit:      30px !default;

// Colors
$text-color:        #424242 !default;
$bg-color:          #fafafa !default;
$code-bg-color:     #f0f0f0 !default;
$link-color:        #000000 !default;
$grey-color:        #828282 !default;
$grey-color-light:  lighten($grey-color, 40%) !default;
$grey-color-dark:   darken($grey-color, 25%) !default;

// Width of the content area
$content-width:     720px !default;
$sidebar-width:     0.25 * $content-width !default;

$on-palm:           600px !default;
$on-laptop:         800px !default;

$on-medium:         $on-palm !default;
$on-large:          $on-laptop !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
