// Font declarations
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(https://cdn.jsdelivr.net/gh/rsms/inter@latest/docs/font-files/Inter-roman.var.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url(https://cdn.jsdelivr.net/gh/rsms/inter@latest/docs/font-files/Inter-italic.var.woff2) format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@master/fonts/webfonts/JetBrainsMono-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url(https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@master/fonts/webfonts/JetBrainsMono-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@master/fonts/webfonts/JetBrainsMono-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url(https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@master/fonts/webfonts/JetBrainsMono-BoldItalic.woff2) format('woff2');
}

// Font families
$base-font-family: Inter, source-han-sans-cjk-sc, sans-serif !default;
$mono-font-family: 'JetBrains Mono', 'SF Mono', Menlo, Consolas, monospace, source-han-sans-cjk-sc !default;
$punct-font-family: source-han-sans-cjk-sc, sans-serif !default;

// Font related
$base-font-weight:  400 !default;
$bold-font-weight:  600 !default;
$base-font-size:    16px !default;
$large-font-size:   18px !default;
$small-font-size:   14px !default;
$tiny-font-size:    12px !default;
$h1-font-size:      24px !default;
$h2-font-size:      22px !default;
$h3-font-size:      18px !default;
$h4-font-size:      16px !default;
$base-line-height:  1.6  !default;
