// Color system based on GitHub's Primer Design System (except for gray level)
// https://github.com/primer/css/blob/master/src/support/variables/color-system.scss

// -------- Blue --------
$blue-000:        #f1f8ff !default;
$blue-100:        #dbedff !default;
$blue-200:        #c8e1ff !default;
$blue-300:        #79b8ff !default;
$blue-400:        #2188ff !default;
$blue-500:        #0366d6 !default; // Default: Passes AA with #fff
$blue-600:        #005cc5 !default;
$blue-700:        #044289 !default;
$blue-800:        #032f62 !default;
$blue-900:        #0f0f0f !default; // Passes with 1/2/300 blues

// -------- Green --------
$green-000:       #f0fff4 !default;
$green-100:       #dcffe4 !default;
$green-200:       #bef5cb !default;
$green-300:       #85e89d !default;
$green-400:       #34d058 !default;
$green-500:       #28a745 !default; // Default. passes AA Large
$green-600:       #22863a !default; // Text green, passes AA on #fff
$green-700:       #176f2c !default;
$green-800:       #165c26 !default;
$green-900:       #144620 !default;

// -------- Yellow --------
$yellow-000:      #fffdef !default;
$yellow-100:      #fffbdd !default;
$yellow-200:      #fff5b1 !default;
$yellow-300:      #ffea7f !default;
$yellow-400:      #ffdf5d !default;
$yellow-500:      #ffd33d !default;
$yellow-600:      #f9c513 !default;
$yellow-700:      #dbab09 !default;
$yellow-800:      #b08800 !default;
$yellow-900:      #735c0f !default;

// -------- Orange --------
$orange-000:      #fff8f2 !default;
$orange-100:      #ffebda !default;
$orange-200:      #ffd1ac !default;
$orange-300:      #ffab70 !default;
$orange-400:      #fb8532 !default;
$orange-500:      #f66a0a !default; // Default. passes AA Large with #fff
$orange-600:      #e36209 !default;
$orange-700:      #d15704 !default;
$orange-800:      #c24e00 !default;
$orange-900:      #a04100 !default;

// -------- Red --------
$red-000:         #ffeef0 !default;
$red-100:         #ffdce0 !default;
$red-200:         #fdaeb7 !default;
$red-300:         #f97583 !default;
$red-400:         #ea4a5a !default;
$red-500:         #d73a49 !default; // Default. passes AA
$red-600:         #cb2431 !default;
$red-700:         #b31d28 !default;
$red-800:         #9e1c23 !default;
$red-900:         #86181d !default;

// -------- Purple --------
$purple-000:      #f5f0ff !default;
$purple-100:      #e6dcfd !default;
$purple-200:      #d1bcf9 !default;
$purple-300:      #b392f0 !default;
$purple-400:      #8a63d2 !default;
$purple-500:      #6f42c1 !default; // passes AA with #fff
$purple-600:      #5a32a3 !default;
$purple-700:      #4c2889 !default;
$purple-800:      #3a1d6e !default;
$purple-900:      #29134e !default;

// -------- Pink --------
$pink-000:      #ffeef8 !default;
$pink-100:      #fedbf0 !default;
$pink-200:      #f9b3dd !default;
$pink-300:      #f692ce !default;
$pink-400:      #ec6cb9 !default;
$pink-500:      #ea4aaa !default;
$pink-600:      #d03592 !default;
$pink-700:      #b93a86 !default;
$pink-800:      #99306f !default;
$pink-900:      #6d224f !default;

// Gray color families based on IBM color specification
// https://www.ibm.com/design/language/color

$black:    #000000 !default;
$gray-100: #161616 !default;
$gray-90:  #262626 !default;
$gray-80:  #393939 !default;
$gray-70:  #525252 !default;
$gray-60:  #6f6f6f !default;
$gray-50:  #8d8d8d !default;
$gray-40:  #a8a8a8 !default;
$gray-30:  #c6c6c6 !default;
$gray-20:  #e0e0e0 !default;
$gray-10:  #f4f4f4 !default;
$white:    #ffffff !default;

:root {
  --bg-color:         #fdfdfd;
  --text-color:       #{$gray-80};
  --link-color:       #{$black};
  --ul-color:         #{$gray-40};
  --border-color:     #{$gray-20};
  --gray-color:       #{$gray-40};
  --dark-gray-color:  #{$gray-60};
  --light-gray-color: #{$gray-20};
  --code-bg-color:    #f0f0f0;
  --table-bg-color:   #fafafa;

  @include media-dark {
    --bg-color:         #{$gray-100};
    --text-color:       #{$gray-20};
    --link-color:       #{$gray-10};
    --ul-color:         #{$gray-50};
    --border-color:     #{$gray-70};
    --gray-color:       #{$gray-50};
    --dark-gray-color:  #{$gray-30};
    --light-gray-color: #{$gray-70};
    --code-bg-color:    #323232;
    --table-bg-color:   #212121;
  }
}
