@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 100 900;
  src: url(@/theme/fonts/WorkSans.woff2) format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 100 900;
  src: url(@/theme/fonts/WorkSansGreek.woff2) format('woff2');
  unicode-range: U+03B5;
}

@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 100 900;
  src: url(@/theme/fonts/WorkSans-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100 800;
  src: url(@/theme/fonts/JetBrainsMono.woff2) format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 100 800;
  src: url(@/theme/fonts/JetBrainsMono-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Punct Sans';
  font-style: normal;
  font-weight: 250 900;
  font-feature-settings: 'kern';
  src: url(@/theme/fonts/PunctSans-VF.woff2) format('woff2');
}
