@import './specials.css';
@import './tex-logo.css';

@tailwind components;
@tailwind utilities;

@layer components {
  .cjk-code {
    @apply ml-[0.1em] mr-[-0.1em] tracking-[0.2em];
  }

  .cjk-kern {
    @apply tracking-[0.5em];
  }

  .tabler-icon {
    @apply stroke-2;
  }
}

@layer utilities {
  .font-feature-calt-off {
    font-feature-settings: 'calt' 0 !important;
  }

  .font-feature-frac {
    font-feature-settings: 'frac' !important;
  }

  .small-caps {
    font-variant: small-caps;
  }

  .text-emphasis-filled {
    text-emphasis: filled;
    text-emphasis-position: under left;
  }
}
