// Basic styling

// Reset some basic elements
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light;

  @include media-dark {
    color-scheme: dark;
  }
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-feature-settings: 'kern';
  font-kerning: normal;
  color: var(--text-color);
  background-color: var(--bg-color);
  // display: flex;
  min-height: 100vh;
  min-width: 320px;
  flex-direction: column;
}

// Default value of `display` of `main` element is `inline` in IE 11
main {
  display: block;
}

// Italic correction
em, i {
  margin-right: .05em;
}

code {
  font-family: $mono-font-family;
  font-variant: none;
  padding: 0 .2em;
  border-radius: 3px;
  background: var(--code-bg-color);
}

img {
  background-color: white;

  &.invert {
    @include media-dark {
      filter: invert(1);
      outline-color: invert($gray-70) !important;  // We need to invert it twice
    }
  }

  &.black {
    @include media-dark {
      background-color: black;
    }
  }
}

a {
  color: var(--text-color);
  text-decoration: none;

  &:hover, &:active, &:focus {
    color: var(--link-color);
    border-bottom: 1px solid var(--text-color);
  }
}

// CJK punctuations
.zh-punct {
  font-family: $punct-font-family;
  font-feature-settings: 'fwid';
}
.zh-punct-kern {
  letter-spacing: -.5em;
}
.zh-punct-bound {
  margin-left: -.5em;
}

// Math (KaTeX)
.katex {
  font-size: 108% !important;
  line-height: 100% !important;
}
.katex-html {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 5px 0;
  margin: -10px 0;
}
.katex-def {
  display: none;
}

// MediumZoom
.medium-zoom-overlay {
  z-index: 1;
}
.medium-zoom-image--opened {
  z-index: 2;
  padding: 2px;
}

// TeX, LaTeX, etc
.tex-logo {
  .a {
    text-transform: uppercase;
    font-size: 70%;
    font-weight: 500;
    margin-left: -.45em;
    margin-right: -.15em;
    position: relative;
    bottom: .62ex;
  }
  .e {
    text-transform: uppercase;
    margin-left: -.18em;
    margin-right: -.05em;
    position: relative;
    bottom: -.5ex;
  }
  .epsilon {
    font-style: italic;
  }
  .two-e-epsilon {
    font-style: italic;
    position: relative;
    bottom: -.3ex;
  }
  .xe-e {
    display: inline-block;
    text-transform: uppercase;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    margin-left: -.05em;
    margin-right: -.05em;
    position: relative;
    bottom: -.5ex;
  }
  .bib-ib {
    font-variant: small-caps;
    font-weight: 500;
  }
  .rkern {
    margin-right: -.05em;
  }
  .xe-e-kern {
    margin-right: -.18em;
  }
  .rparen-kern {
    margin-left: .05em;
    margin-right: -.05em;
  }
}
strong, th, .post-sidebar .active {
  .tex-logo {
    .a, .bib-ib {
      font-weight: 900;
    }
  }
}


// // Clearfix
// %clearfix:after {
//   content: '';
//   display: table;
//   clear: both;
// }


// Wrapper

.wrapper {
  max-width: -webkit-calc(#{$content-width} + #{$sidebar-width} + #{$spacing-unit});
  max-width:         calc(#{$content-width} + #{$sidebar-width} + #{$spacing-unit});
  margin: 0 auto;
  padding: 0 $spacing-unit / 2;
  // // @extend %clearfix; // TODO

  @include media-on-large {
    padding: 0 $spacing-unit;
  }
}

.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

// Site header

.site-header {
  border-top: 5px solid $gray-100;
  border-bottom: 1px solid var(--border-color);
  min-height: 54px;
  line-height: 54px;
  z-index: 1;
  background-color: var(--bg-color);
  @include sticky-top(0);

  a {
    &:visited {
      color: var(--text-color);
    }
    &:hover {
      border: none;
    }
  }
}

.site-title {
  font-weight: 200;
  font-size: $h1-font-size;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  // TODO
  // @include media-on-medium {
  //   padding-right: 45px;
  // }
}

.site-nav {
  float: right;

  ul {
    display: flex;
    list-style: none;
    margin: 0;

    li {
      margin-left: 20px;
    }
  }

  .page-link {
    text-decoration: none;
    color: var(--text-color);

    &:hover, &:active, &:focus {
      color: var(--link-color);
    }
  }
}


// Site footer

.site-footer {
  border-top: 1px solid var(--border-color);
  padding: $spacing-unit 0;
}

.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: $tiny-font-size;
  color: var(--gray-color);
  // @extend %clearfix; // TODO
}

.social-links,
.copyright {
  text-align: center;
}

.social-links {
  margin-bottom: 16px;
}

.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    font-size: $large-font-size;
    float: left;
    margin: 0 12px;

    &:first-of-type { margin-left: 0 }
    &:last-of-type { margin-right: 0 }

    a {
      color: var(--gray-color); // TODO: different colors for different icons

      #svg-stack-exchange-brands {
        display: inline-block;
      }
      #svg-stack-exchange-brands-colorful {
        display: none;
      }

      &:hover, &:active, &:focus {
        border: none;
        color: var(--link-color);

        #svg-stack-exchange-brands {
          display: none;
        }
        #svg-stack-exchange-brands-colorful {
          display: inline-block;
        }

        #svg-twitter-brands {
          color: #1DA1F2;
        }

        #svg-telegram-brands {
          color: #0088CC;
        }

        #svg-envelope-solid {
          color: $yellow-600;
        }

        #svg-rss-solid {
          color: #f26522;
        }
      }
    }
  }
}

svg.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
}

// TODO: Grid helpers
.one-half {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

// Selection

::selection {
  background-color: rgba($blue-300, 0.6);
}

.invert::selection {
  @include media-dark {
    background-color: rgba(invert($blue-300), 0.6);
  }
}
