/* Homepage */

.post-list {
  margin-left: 0;
  list-style: none;

  li {
    margin-bottom: $spacing-unit;
  }

  h1 {
    font-size: $h2-font-size;
    font-weight: normal;
  }

  a {
    color: $link-color;
    text-decoration: none;

    &:hover, &:active, &:focus {
      border-bottom: 1px solid $link-color;
    }
  }

  .post-meta {
    font-size: $small-font-size;
    color: $visited-color;
    display: flex;
    margin: 0;
    margin-bottom: 10px;
  }
}

.pagination {
  .previous {
    float: left;
  }
  
  .next {
    float: right;
    text-align: right;
  }

  a {
    color: $text-color;
    text-decoration: none;
  }
}

/* About */

.cc-by-sa-logo {
  text-align: center;
  margin-top: $spacing-unit;
  font-size: 36px;
  color: $text-color;
}

/* Archive */

.archive > h1 {
  font-size: $h2-font-size;
  font-weight: normal;
  margin-bottom: $spacing-unit / 2;
}

.archive-list {
  margin-bottom: $spacing-unit;
  list-style-type: none;

  li {
    margin-bottom: 6px;
  }

  h1 {
    font-weight: normal;
    font-size: $base-font-size;
    display: inline;
  }

  a {
    color: $text-color;
    text-decoration: none;

    &:hover, &:active, &:focus {
      border-bottom: 1px solid $text-color;
    }
  }

  .post-date {
    font-size: $tiny-font-size;
    font-feature-settings: 'tnum';
    color: $visited-color;
    margin-right: 10px;
  }
}
