// Homepage

.post-list {
  margin-left: 0;
  list-style: none;

  li {
    margin-bottom: $spacing-unit;
  }

  h1 {
    font-size: $h1-font-size;
    font-weight: normal;
  }

  .post-meta {
    font-size: $small-font-size;
    color: var(--gray-color);
    display: block;
    margin: 2pt 0 10pt 0;
  }
}

.pagination {
  .next {
    float: left;
  }

  .previous {
    float: right;
    text-align: right;
  }

  a {
    text-decoration: none;

    &:hover, &:active, &:focus {
      border-bottom: 1px solid var(--link-color);
    }
  }
}

// About

.about {
  font-family: $mono-font-family;
  text-align: center;
  white-space: pre;
  overflow-x: auto;

  .about-mbin {
    margin: 0 .3em;
  }

  .about-frac {
    margin: 0 .3em 0 .1em;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

  .about-frac-top, .about-frac-bottom {
    padding: 0 .1em;
    display: block;
  }

  .about-frac-bottom {
    border-top: 1.6px solid;
  }
}

.cc-by-sa-logo {
  text-align: center;
  margin-top: $spacing-unit;
  font-size: 36px;
  color: var(--text-color);
}

// Archive

.archive > h1 {
  font-size: $h2-font-size;
  font-weight: normal;
  margin-bottom: $spacing-unit / 2;
}

.archive-list {
  margin-bottom: $spacing-unit;
  list-style-type: none;

  li {
    margin-bottom: 6px;
    font-weight: normal;
    font-size: $base-font-size;
  }

  .post-date {
    font-size: $tiny-font-size;
    font-feature-settings: 'tnum';
    color: var(--gray-color);
    margin-right: 12px;
  }
}
