// Post page

.post {
  @include media-on-large {
    max-width: -webkit-calc(100% - #{$sidebar-width} - #{$spacing-unit});
    max-width:         calc(100% - #{$sidebar-width} - #{$spacing-unit});
    padding-right: #{$spacing-unit};
  }

  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.post-header {
  margin-bottom: $spacing-unit;

  .post-title {
    color: var(--link-color);
    font-size: $h1-font-size;
    font-weight: normal;
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
  }

  .post-meta {
    font-size: $small-font-size;
    color: var(--gray-color);
    list-style: none;
    margin: 2pt 0 0 0;

    > li::before {
      content: '\2022';  // Bullet
      margin-right: 8px;
    }

    @include media-on-large {
      display: flex;

      li:first-child::before {
        content: '';
        margin: 0;
      }

      > li::before {
        margin: 0 8px;
      }
    }
  }
}

.post-sidebar {
  display: none;

  @include media-on-large {
    font-weight: normal;
    display: block;
    float: right;
    width: $sidebar-width;
    @include sticky-top(90px);
  }

  h3 {
    color: var(--link-color);
    font-weight: normal;
    margin-bottom: 8px;
  }

  ul {
    margin-left: 1em;
  }

  li {
    font-size: $small-font-size
  };

  a.active {
    font-weight: $bold-font-weight;
  }

  a:hover, a:active, a:focus {
    border: none;
  }
}

.post-content {
  p, ul, ol, dl, pre, blockquote, figure, .table-wrapper {
    margin-bottom: $spacing-unit / 2;
  }

  table, pre, figcaption {
    font-size: $small-font-size;
  }

  h2, h3, h4 {
    color: var(--link-color);
    font-weight: normal;
  }

  h2 {
    font-size: $h2-font-size;
    margin: $spacing-unit 0;
  }

  h3 {
    font-size: $h3-font-size;
    margin: $spacing-unit / 2 0;
  }

  h4 {
    font-size: $h4-font-size;
    margin: $spacing-unit / 2 0;
  }

  .table-wrapper {
    overflow-x: auto;
  }

  table {
    white-space: pre;
    max-width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border: $border;
  }

  tr:nth-child(even) {
    background-color: var(--table-bg-color);
  }

  th, td {
    padding: ($spacing-unit / 4) ($spacing-unit / 2);
    border: $border;
  }

  th {
    font-weight: bold;
    border: $border;
  }

  img {
    width: 100%;
    max-width: 100%;
    outline: $border;
    outline-offset: -1px;
  }

  p>img {
    display: block;
    margin: 0 auto;
  }

  figure {
    text-align: center;

    img {
      vertical-align: middle;
    }

    figcaption {
      margin: 10px 0 0;
      @include media-on-large {
        margin: 10px 40px 0;
      }
    }
  }

  ul, ol {
    margin-left: 2em;
  }

  li {
    >p, >ul, >ol {
      margin-bottom: 2px;
    }
    >p>img {
      margin: $spacing-unit / 2 auto;
    }
  }

  ol {
    list-style: none;
    counter-reset: li;
    >li {
      counter-increment: li;
    }
    >li::before {
      content: counter(li) '.';
      display: inline-block;
      width: 2em;
      margin-right: .5em;
      margin-left: -2.5em;
      text-align: right;
      font-feature-settings: 'tnum';
      font-variant-numeric: tabular-nums;
      letter-spacing: -.04em;
    }
    li>p {
      display: inline-table;
    }
  }

  // TODO
  blockquote {
    color: var(--dark-gray-color);
    border-left: 4px solid var(--light-gray-color);
    padding-left: $spacing-unit / 2;

    a {
      color: var(--dark-gray-color);
    }

    >:last-child {
      margin-bottom: 0;
    }
  }

  hr {
    margin: $spacing-unit 0 $spacing-unit 0;
    border: $border;
  }

  pre {
    overflow-x: auto;
    padding: 8px 12px;
    border-radius: 3px;
    background: var(--code-bg-color);

    code {
      padding: 0;
    }
  }

  a {
    margin: 0 .1em;
    border-bottom: 1px solid var(--ul-color);

    &:visited {
      color: var(--gray-color);
    }

    &:hover, &:active, &:focus {
      border-bottom: 1px solid var(--link-color);
      color: var(--link-color);
    }
  }

  ruby>rt {
    font-weight: 500;
  }

  sub {
    font-size: inherit;
    vertical-align: baseline;
    font-feature-settings: 'subs';
  }

  sup.fnref {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    font-size: $base-font-size;
    font-feature-settings: 'sups';
    transition: 0s background-color;

    &:hover .tooltip {
      @include media-on-large {
        display: block;
      }
    }

    .tooltip {
      display: none;
      position: absolute;
      width: max-content;
      max-width: 300px;
      bottom: 100%;
      margin-left: -200%;
      padding: 2px 8px;
      border: $border;
      font-size: $small-font-size;
      font-feature-settings: normal;
      z-index: 1;
      background-color: var(--bg-color);
      // @include blur;

      ul, ol {
        margin-bottom: 2px;
      }
    }
  }

  .fnref>a, .backref>a {
    border-bottom: none;

    &:hover, &:active, &:focus {
      border-bottom: 1px solid var(--link-color);
    }
  }

  .backref>a {
    margin: 0;
    font-weight: $bold-font-weight;
    &:after {
      content: '\2009';  // Thin space
    }
  }

  a.hash-tag {
    margin-left: .2em;
    visibility: hidden;
  }

  a.visible {
    visibility: visible;
  }

  // Same as HTML <small> tag
  .small {
    font-size: smaller;
  }
}

// See .pagination in _home.scss
.post-navigation {
  margin: $spacing-unit 0;
  overflow: hidden;

  .nav-previous {
    a::before {
      content: '\2190';
      margin-right: 4px;
    }

    float: left;
    width: 48%;
  }

  .nav-next {
    a::after {
      content: '\2192';
      margin-left: 4px;
    }

    float: right;
    text-align: right;
    width: 48%;
  }

  .nav-text {
    &:hover, &:active, &:focus {
      border-bottom: 1px solid var(--link-color);
    }
  }
}
