/* Post page */

.post {
  @include media-on-large {
    max-width: -webkit-calc(100% - #{$sidebar-width} - #{$spacing-unit});
    max-width:         calc(100% - #{$sidebar-width} - #{$spacing-unit});
    padding-right: #{$spacing-unit};
  }

  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.post-header {
  margin-bottom: $spacing-unit;

  .post-title {
    color: $link-color;
    font-size: $h1-font-size;
    font-weight: normal;
  }

  .post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    list-style: none;
    margin: 0;

    > li::before {
      content: '\2022';  // Bullet
      margin-right: 8px;
    }

    @include media-on-large {
      display: flex;

      :first-child::before {
        content: '';
        margin: 0;
      }

      > li::before {
        margin: 0 8px;
      }
    }
  }
}

.post-sidebar {
  display: none;

  @include media-on-large {
    display: block;
    float: right;
    width: $sidebar-width;
    position: -webkit-sticky;
    position:         sticky;
    top: $spacing-unit;
    font-weight: normal;
  }

  h3 {
    color: $link-color;
    font-weight: normal;
    margin-bottom: 8px;
  }

  ul {
    margin-left: 1em;
  }

  li {
    font-size: $small-font-size
  };

  .active {
    font-weight: $bold-font-weight;
  }

  a {
    color: $text-color;
    text-decoration: none;

    &:hover, &:active, &:focus {
      color: $link-color;
    }
  }

  code {
    font-family: $mono-font-family;
    font-variant: none;
  }
}

.post-content {
  p, ul, ol, dl, pre, blockquote, figure, table {
    margin-bottom: $spacing-unit / 2;
  }

  h2, h3, h4 {
    color: $link-color;
    font-weight: normal;
    margin: $spacing-unit 0;
  }

  h2 {
    font-size: $h2-font-size;
  }

  h3 {
    font-size: $h3-font-size;
  }

  h4 {
    font-size: $h4-font-size;
  }

  // p {
  //   text-indent: 2em;
  // }

  table {
    max-width: 100%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-collapse: collapse;
    border: 1px solid $grey-color-light;
    tr {
      &:nth-child(even) {
        background-color: lighten($grey-color-light, 6%);
      }
    }
    th, td {
      padding: ($spacing-unit / 3) ($spacing-unit / 2);
    }
    th {
      background-color: lighten($grey-color-light, 3%);
      border: 1px solid darken($grey-color-light, 4%);
      border-bottom-color: darken($grey-color-light, 12%);
    }
    td {
      border: 1px solid $grey-color-light;
    }
  }

  figure {
    margin-inline-start: auto;
    margin-inline-end: auto;
    text-align: center;

    img {
      width: 100%;
      max-width: 100%;
      background-color: white;
      vertical-align: middle;
      outline: 1px solid $grey-color-light;
      outline-offset: -1px;
    }

    figcaption {
      font-size: $small-font-size;
      margin-top: 10px;
    }
  }

  ul, ol {
    margin-left: 2em;
  }

  li {
    > ul,
    > ol {
      margin-bottom: 2px;
    }
  }

  // TODO
  blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;

    > :last-child {
      margin-bottom: 0;
    }
  }

  pre, code {
    font-family: $mono-font-family;
    font-variant: none;
  }

  pre {
    padding: 8px 12px;
    overflow-x: auto;
  }

  a {
    color: $text-color;
    margin: 0 .1em;
    border-bottom: 1px solid $ul-color;
    text-decoration: none;

    &:visited {
      color: $visited-color;
    }

    &:hover, &:active, &:focus {
      border-bottom: 1px solid $link-color;
      color: $link-color;
    }
  }

  sup.fnref {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    font-size: $base-font-size;
    font-feature-settings: 'sups';
    transition: 0s background-color;

    &:hover .tooltip {
      opacity: 1;
      visibility: visible;
    }

    .tooltip {
      visibility: hidden;
      position: absolute;
      width: max-content;
      max-width: 300px;
      bottom: 100%;
      margin-left: -200%;
      padding: 2px 8px;
      border: 1px solid darken($grey-color-light, 4%);
      font-size: $small-font-size;
      font-feature-settings: normal;
      background-color: lighten($grey-color-light, 6%);
      z-index: 1;
      opacity: 0;
      transition: opacity .6s;

      ul, ol {
        margin-bottom: 2px;
      }
    }
  }

  .fnref>a, .backref>a {
    border-bottom: none;
    font-feature-settings: 'sups';
    margin: 0 .1em;

    &:hover, &:active, &:focus {
      border-bottom: 1px solid $link-color;
      color: $link-color;
    }
  }

  .backref>a {
    margin: 0;
    font-weight: $bold-font-weight;
    &:after {
      content: '\2009';  // Thin space
    }
  }

  a.hash-tag {
    margin-left: .2em;
    visibility: hidden;
  }

  a.visible {
    visibility: visible;
  }
}
