// 2018-08-08-use-opentype-fonts.md
.font-sample {
  font-size: 14px;
  text-align: center;
  img {
    height: 10em;
    max-width: 100%;
  }
}

// 2019-02-09-circled-numbers.md
.circled-number, .circled-number-fonts {
  width: 100%;
  text-align: center;
}
.circled-number-glyph {
  font-family: 'Noto Serif CJK SC', 'Source Han Serif SC', source-han-serif-cjk-sc, 'Noto Sans CJK SC', 'Source Han Sans SC', source-han-sans-cjk-sc, monospace;
  font-size: 24px;
  border: none;
}
.circled-number-encoding {
  font-family: $mono-font-family;
  font-size: $small-font-size;
  line-height: 1ex;
}
.circled-number-fonts {
  white-space: nowrap;
}
.circled-number-fonts-name {
  white-space: normal;
}

// 2019-07-06-use-opentype-fonts-ii.md
.slab-I {
  font-feature-settings: 'cv08';
}
.font-weight {
  text-align: center;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
.zh-emph {
  -webkit-text-emphasis: filled;
          text-emphasis: filled;
  -webkit-text-emphasis-position: under;
          text-emphasis-position: under;
}
.small-caps {
  font-variant: small-caps;
  font-weight: 500;
}

// euler
.problem-example {
  text-align: center;
}
.problem-input {
  font-family: $mono-font-family;
  font-size: $small-font-size;
  text-align: center;
}
.problem-highlight {
  color: $red-500;
}
@include media-dark {
  .problem-highlight {
    color: $red-400;
  }
}
