// 2018-08-08-use-opentype-fonts.md
.font-sample {
  font-size: 14px;
  text-align: center;
  a {
    border-bottom: none;
  }
  a:hover, table.font-sample a:active, table.font-sample a:focus {
    border-bottom: none;
  }
  img {
    height: 10em;
    max-width: 100%;
  }
}

// 2019-02-09-circled-numbers.md
.circled-number, .circled-number-fonts {
  width: 100%;
  text-align: center;
}
.circled-number-glyph {
  font-family: 'Noto Serif CJK SC', 'Source Han Serif SC', $mono-font-family;
  font-size: 24px;
  border: none;
}
.circled-number-encoding {
  font-family: $mono-font-family;
  font-size: $small-font-size;
  line-height: 1ex;
}
.circled-number-fonts {
  white-space: nowrap;
}
.circled-number-fonts-name {
  white-space: normal;
}

// 2019-07-06-use-opentype-fonts-ii.md
.slab-I {
  font-feature-settings: 'cv08';
}
.font-weight {
  text-align: center;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
.zh-emph {
  -webkit-text-emphasis: filled;
          text-emphasis: filled;
  -webkit-text-emphasis-position: under;
          text-emphasis-position: under;
}
.small-caps {
  font-variant: small-caps;
  font-weight: 500;
}
