.font-sample {
  font-size: 14px;
  td {
    text-align: center;
  }
  a {
    border-bottom: none;
  }
  a:hover, table.font-sample a:active, table.font-sample a:focus {
    border-bottom: none;
  }
  img {
    width: 9em;
    max-width: 100%;
  }
}

.circled-number {
  table {
    width: 100%;
  }
  overflow-x: auto;
  margin-bottom: $spacing-unit / 2;
}
.circled-number-glyph {
  text-align: center;
  font-family: 'Noto Serif CJK SC', 'Source Han Serif SC', 'Source Han Serif CN', $mono-font-family;
  font-size: 24px;
  border: none;
}
.circled-number-encoding {
  text-align: center;
  font-family: $mono-font-family;
  font-size: $small-font-size;
  line-height: 1ex;
}
