// Syntax highlighting styles based on GitHub syntax theme
// https://github.com/primer/github-syntax-light
// https://github.com/primer/github-syntax-dark

.highlight {
    .c  // Comment
  , .c1 // Comment.Single
  , .cm // Comment.Multiline
  { color: $gray-40; }
    .cp // Comment.Preproc
  , .cs // Comment.Special
  { color: $gray-60; font-weight: bold; }

    .k  // Keyword
  , .kc // Keyword.Constant
  , .kd // Keyword.Declaration
  , .kn // Keyword.Namespace
  , .kp // Keyword.Pseudo
  , .kr // Keyword.Reserved
  , .kt // Keyword.Type
  { color: $red-500; }

    .s  // Literal.String
  , .s1 // Literal.String.Single
  , .s2 // Literal.String.Double
  , .sb // Literal.String.Backtick
  , .sc // Literal.String.Char
  , .sd // Literal.String.Doc
  , .se // Literal.String.Escape
  , .sh // Literal.String.Heredoc
  , .si // Literal.String.Interpol
  , .sr // Literal.String.Regex
  , .sx // Literal.String.Other
  { color: $blue-800; }

  .ss // Literal.String.Symbol
  { color: $green-600; }

    .m  // Literal.Number
  , .mf // Literal.Number.Float
  , .mh // Literal.Number.Hex
  , .mi // Literal.Number.Integer
  , .mo // Literal.Number.Oct
  , .il // Literal.Number.Integer.Long
  { color: $blue-600; }

    .bp // Name.Builtin.Pseudo
  , .gh // Generic.Heading
  , .nb // Name.Builtin
  , .nd
  { color: $blue-600; }

  //   .n  // Name
    .na // Name.Attribute
  , .no // Name.Constant
  , .nv // Name.Variable
  , .vc // Name.Variable.Class
  , .vg // Name.Variable.Global
  , .vi // Name.Variable.Instance
  { color: $orange-600; }

    .gp // Generic.Prompt
  , .nc // Name.Class
  , .ne // Name.Exception
  , .nf // Name.Function
  , .ni // Name.Entity
  , .nn // Name.Namespace
  { color: $purple-500; }

  .nt // Name.Tag
  { color: $green-600; }

    .o  // Operator
  , .ow // Operator.Word
  { font-weight: bold }

  .err // Error
  { color: $gray-10; background-color: $red-700; }

  @include media-dark {
      .c  // Comment
    , .c1 // Comment.Single
    , .cm // Comment.Multiline
    { color: $gray-60; }
      .cp // Comment.Preproc
    , .cs // Comment.Special
    { color: $gray-40; font-weight: bold; }

      .k  // Keyword
    , .kc // Keyword.Constant
    , .kd // Keyword.Declaration
    , .kp // Keyword.Pseudo
    , .kr // Keyword.Reserved
    , .kt // Keyword.Type
    { color: $red-400; }

      .s  // Literal.String
    , .s1 // Literal.String.Single
    , .s2 // Literal.String.Double
    , .sb // Literal.String.Backtick
    , .sc // Literal.String.Char
    , .sd // Literal.String.Doc
    , .se // Literal.String.Escape
    , .sh // Literal.String.Heredoc
    , .si // Literal.String.Interpol
    , .sr // Literal.String.Regex
    , .sx // Literal.String.Other
    { color: $blue-200; }

    .ss // Literal.String.Symbol
    { color: $green-400; }

      .m  // Literal.Number
    , .mf // Literal.Number.Float
    , .mh // Literal.Number.Hex
    , .mi // Literal.Number.Integer
    , .mo // Literal.Number.Oct
    , .il // Literal.Number.Integer.Long
    { color: $blue-400; }

      .bp // Name.Builtin.Pseudo
    , .gh // Generic.Heading
    , .nb // Name.Builtin
    , .nd
    { color: $blue-400; }

    //   .n  // Name
      .na // Name.Attribute
    , .no // Name.Constant
    , .nv // Name.Variable
    , .vc // Name.Variable.Class
    , .vg // Name.Variable.Global
    , .vi // Name.Variable.Instance
    { color: $orange-400; }

      .gp // Generic.Prompt
    , .nc // Name.Class
    , .ne // Name.Exception
    , .nf // Name.Function
    , .ni // Name.Entity
    , .nn // Name.Namespace
    { color: $purple-300; }

    .nt // Name.Tag
    { color: $green-400; }

      .o  // Operator
    , .ow // Operator.Word
    { font-weight: bold }

    .err // Error
    { color: $gray-10; background-color: $red-500; }
  }
}

// Used in Haskell
.language-haskell {
  .kt { color: $purple-500; }

  @include media-dark {
    .kt { color: $purple-300; }
  }
}

// Used in Wolfram Language
.language-wl .highlight {
  font-feature-settings: 'calt';

  .np, .ns { font-style: italic; }
  .np { color: $red-500; } // Name.Pattern
  .ns { color: $green-600; } // Name.Slot

  @include media-dark {
    .np { color: $red-400; }
    .ns { color: $green-400; }
  }
}
