/**
 * Syntax highlighting styles
 * Based on GitHub Light v0.5.0 (https://github.com/primer/github-syntax-theme-generator)
 */

.highlight {
  .c     { color: #a2a2a2; } // Comment
  .c1    { color: #a2a2a2; } // Comment.Single
  .cm    { color: #a2a2a2; } // Comment.Multiline
  .cp    { color: #6a737d; font-weight: bold; } // Comment.Preproc
  .cs    { color: #6a737d; font-weight: bold; } // Comment.Special

  .k     { color: #d73a49; } // Keyword
  .kc    { color: #d73a49; } // Keyword.Constant
  .kd    { color: #d73a49; } // Keyword.Declaration
  .kp    { color: #d73a49; } // Keyword.Pseudo
  .kr    { color: #d73a49; } // Keyword.Reserved
  .kt    { color: #d73a49; } // Keyword.Type

  .s     { color: #032f62; } // Literal.String
  .s1    { color: #032f62; } // Literal.String.Single
  .s2    { color: #032f62; } // Literal.String.Double
  .sb    { color: #032f62; } // Literal.String.Backtick
  .sc    { color: #032f62; } // Literal.String.Char
  .sd    { color: #032f62; } // Literal.String.Doc
  .se    { color: #032f62; } // Literal.String.Escape
  .sh    { color: #032f62; } // Literal.String.Heredoc
  .si    { color: #032f62; } // Literal.String.Interpol
  .sr    { color: #032f62; } // Literal.String.Regex
  .sx    { color: #032f62; } // Literal.String.Other

  .ss    { color: #22863a; } // Literal.String.Symbol

  .m     { color: #005cc5; } // Literal.Number
  .mf    { color: #005cc5; } // Literal.Number.Float
  .mh    { color: #005cc5; } // Literal.Number.Hex
  .mi    { color: #005cc5; } // Literal.Number.Integer
  .mo    { color: #005cc5; } // Literal.Number.Oct
  .il    { color: #005cc5; } // Literal.Number.Integer.Long

  .bp    { color: #005cc5; } // Name.Builtin.Pseudo
  .gh    { color: #005cc5; } // Generic.Heading
  .nb    { color: #005cc5; } // Name.Builtin
  .nd    { color: #005cc5; }

  // .n     { color: #e36209; } // Name
  // .nv    { color: #e36209; } // Name.Variable
  .na    { color: #e36209; } // Name.Attribute
  .no    { color: #e36209; } // Name.Constant
  .vc    { color: #e36209; } // Name.Variable.Class
  .vg    { color: #e36209; } // Name.Variable.Global
  .vi    { color: #e36209; } // Name.Variable.Instance

  .gp    { color: #6f42c1; } // Generic.Prompt
  .nc    { color: #6f42c1; } // Name.Class
  .ne    { color: #6f42c1; } // Name.Exception
  .nf    { color: #6f42c1; } // Name.Function
  .ni    { color: #6f42c1; } // Name.Entity
  .nn    { color: #6f42c1; } // Name.Namespace

  .nt    { color: #22863a; } // Name.Tag
  
  .o     { font-weight: bold } // Operator
  .ow    { font-weight: bold } // Operator.Word

  .err   { color: #fafbfc; background-color: #b31d28; } // Error
}

// Used in Wolfram Language
.language-wl .highlight {
  // Programming ligatures, centered star
  font-feature-settings: 'calt', 'cv19';

  .np { color: #d73a49; font-style: italic; } // Name.Pattern
  .ns { color: #6f42c1; font-style: italic; } // Name.Slot
}
