---
layout: default
---
<div class="home">
  {{- content -}}
  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in paginator.posts -%}
      <li>
        <h1>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h1>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%Y-%m-%d" }}</time>
          {%- if post.last_modified_at -%}
            （最近更新：<time datetime="{{ post.last_modified_at | date_to_xmlschema }}" itemprop="datePublished">{{ post.last_modified_at | date: "%Y-%m-%d" }}</time>）
          {%- endif -%}
        </span>
        <p>{{ post.description }}</p>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  <div class="pagination">
    {%- if paginator.next_page -%}
      <span class="next"><a href="{{ paginator.next_page_path }}">&larr;&nbsp;较旧的文章</a></span>
    {%- endif -%}
    {%- if paginator.previous_page -%}
      <span class="previous"><a href="{{ paginator.previous_page_path }}">较新的文章&nbsp;&rarr;</a></span>
    {%- endif -%}
  </div>
</div>