---
layout: default
---
<div class="home">
  {{ content }}
  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <h1>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title }}
          </a>
        </h1>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">
          {{ post.date | date: "%Y-%m-%d" }}
          {% if post.last_modified_at %}
            （最近更新：{{ post.last_modified_at | date: "%Y-%m-%d" }}）
          {% endif %}
        </span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  <script type="text/javascript" src="{{ '/js/script.js' | relative_url }}"></script>
</div>