// https://github.com/rsms/inter/blob/master/misc/dist/inter.css

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(https://cdn.jsdelivr.net/gh/rsms/inter@latest/docs/font-files/Inter-roman.var.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url(https://cdn.jsdelivr.net/gh/rsms/inter@latest/docs/font-files/Inter-italic.var.woff2) format('woff2');
}
