// https://github.com/be5invis/Iosevka/blob/gh-pages/_next/static/css/64e7f0d65e78fb0a0c75ab11c8edca8557f29738_CSS.13c3aedd.chunk.css

@font-face {
  font-family: 'Iosevka Web';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/stone-zeng/stone-zeng.github.io@master/assets/fonts/iosevka-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Iosevka Web';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url(https://cdn.jsdelivr.net/gh/stone-zeng/stone-zeng.github.io@master/assets/fonts/iosevka-italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Iosevka Web';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/stone-zeng/stone-zeng.github.io@master/assets/fonts/iosevka-bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Iosevka Web';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url(https://cdn.jsdelivr.net/gh/stone-zeng/stone-zeng.github.io@master/assets/fonts/iosevka-bolditalic.woff2) format('woff2');
}
