@font-face {
  font-family: 'Iosevka Web';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/aymanbagabas/iosevka-fonts@latest/dist/iosevka/woff2/iosevka-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Iosevka Web';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: oblique;
  src: url(https://cdn.jsdelivr.net/gh/aymanbagabas/iosevka-fonts@latest/dist/iosevka/woff2/iosevka-oblique.woff2) format('woff2');
}

@font-face {
  font-family: 'Iosevka Web';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/aymanbagabas/iosevka-fonts@latest/dist/iosevka/woff2/iosevka-bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Iosevka Web';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: oblique;
  src: url(https://cdn.jsdelivr.net/gh/aymanbagabas/iosevka-fonts@latest/dist/iosevka/woff2/iosevka-boldoblique.woff2) format('woff2');
}
