// https://github.com/be5invis/Iosevka/blob/gh-pages/_next/static/css/203504b525dcbebc3366b5f6d09ed67d5c718a16_CSS.d3804cc1.chunk.css

@font-face {
  font-family: 'Iosevka Web';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/be5invis/Iosevka@gh-pages/_next/static/chunks/fonts/iosevka-regular-bd06eef01bad07def73ddba5c7b28934.woff2) format('woff2');
}

@font-face {
  font-family: 'Iosevka Web';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url(https://cdn.jsdelivr.net/gh/be5invis/Iosevka@gh-pages/_next/static/chunks/fonts/iosevka-italic-432d643a062649d6affa51be5544326b.woff2) format('woff2');
}

@font-face {
  font-family: 'Iosevka Web';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/be5invis/Iosevka@gh-pages/_next/static/chunks/fonts/iosevka-bold-ddf4c9c743b4b60565f9cd173ec4bb90.woff2) format('woff2');
}

@font-face {
  font-family: 'Iosevka Web';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url(https://cdn.jsdelivr.net/gh/be5invis/Iosevka@gh-pages/_next/static/chunks/fonts/iosevka-bolditalic-6263001cf06af84982a6cd8ea145464b.woff2) format('woff2');
}
